.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0 !important;
}

.modalContainer {
  width: 50%;
  height: 50vh !important;
  border-radius: 12px;
  background-color: black;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  color: white;
}

.modalContainer .title-modal {
  display: inline-block;
  text-align: left;
  padding: 2% 10% !important;
  flex:1;
}

.modalContainer .title-modal h2{
  font-size:1.0rem;
}

.modalContainer .title-modal h2 span{
  font-weight:bold;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body-modal {
  flex:1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}

.modalContainer .body-modal p {
  font-size: 0.8rem;
  line-height:1.3rem;
}

.modalContainer .body-modal p span{
  font-size:1rem;
  font-weight: bold;
}


.modalContainer .footer-modal button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  z-index:99;
}


.body-modal {
  padding: 0;
  margin: 0;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

img.imgToad {
  width:250px;
  height:auto;
}